<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bcart - Blind Ecommerce</title>
    <link rel="icon" type="image/webp" href="/images/logo.webp">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/nice-select.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
    <!--this is the voice taking url-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>

<body onload="onLoad()">
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <div class="register-login-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="register-form">
                        <h2>Register</h2>
                        <% if(msg !='' ){%>
                            <p class="alert alert-danger" style="text-align: center;">
                                <%= msg %>
                            </p>
                            <% } %>
                                <form method="POST" action="/registration" role="form" id="registerForm">
                                    <input type="hidden" id="in" style="width: 100%;height: 20%">
                                    <div class="group-input">
                                        <label for="name">Name *</label>
                                        <div class="row">
                                            <div class="col-11">
                                                <input type="text" id="name" name="name" class="form-control">
                                            </div>
                                            <div class="col-1" style="align-self: center;">
                                                <a role="button" onclick="askForName()"><i class="fa fa-refresh"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="group-input">
                                        <label for="username">Username or email address *</label>
                                        <div class="row">
                                            <div class="col-11">
                                                <input type="text" id="username" name="username">
                                            </div>
                                            <div class="col-1" style="align-self: center;">
                                                <a role="button" onclick="askForEmail()"><i class="fa fa-refresh"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="group-input">
                                        <label for="pass">Password *</label>
                                        <div class="row">
                                            <div class="col-11">
                                                <input type="password" id="pass" name="pass">
                                            </div>
                                            <div class="col-1" style="align-self: center;">
                                                <a role="button" onclick="askForPassword()"><i class="fa fa-refresh"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="group-input">
                                        <label for="Contact">Contact *</label>
                                        <div class="row">
                                            <div class="col-11">
                                                <input type="text" maxlength="10" id="contact" name="contact">
                                            </div>
                                            <div class="col-1" style="align-self: center;">
                                                <a role="button" onclick="askForPassword()"><i class="fa fa-refresh"></i></a>
                                            </div>
                                        </div>
                                    </div>

                                    <input type="submit" class="site-btn register-btn" value="REGISTER">
                                </form>
                                <div class="switch-login">
                                    <a href="/" class="or-login">Or Login</a>
                                </div>
                                <div class="text-center mt-2 mb-1">
                                    <span id="action"></span>
                                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/main.js"></script>

    <script>
        if (sessionStorage.getItem("mode") == "Blind Mode") {
            var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);

            if (!isChrome) {
                alert('Voice input not available');
            }

            var action = document.getElementById('action');

            let speech = new SpeechSynthesisUtterance();
            speech.lang = "en-US";
            speech.volume = 1;
            speech.rate = 1;
            speech.pitch = 1;

            function onLoad() {
                var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                var recognition = new SpeechRecognition();

                speech.text = 'This is registration page, if you want to register say, register, to login say, login';
                window.speechSynthesis.speak(speech);
                speech.onend = function (event) {
                    recognition.start();

                    recognition.onstart = function () {
                        action.innerHTML = "<small>listening, please speak…</small>";
                    };

                    recognition.onresult = function (event) {
                        var transcript = event.results[0][0].transcript;
                        var confidence = event.results[0][0].confidence;
                        console.log(transcript + '1');
                        action.innerHTML = "<small>stopped listening, hope you are done…</small>"
                        recognition.stop();
                        if (transcript.includes('register')) {
                            askForName();
                        } else if (transcript.includes('login')) {
                            window.location.href = '/login'
                        }
                    };
                };
            }

            function askForName() {
                var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                var recognition = new SpeechRecognition();

                speech.text = 'please tell your, full name';
                window.speechSynthesis.speak(speech);
                speech.onend = function (event) {
                    recognition.start();

                    recognition.onstart = function () {
                        action.innerHTML = "<small>listening, please speak…</small>";
                    };

                    recognition.onresult = function (event) {
                        var transcript = event.results[0][0].transcript;
                        var confidence = event.results[0][0].confidence;
                        console.log(transcript + '1');
                        action.innerHTML = "<small>stopped listening, hope you are done…</small>"
                        document.getElementById('name').value = transcript;
                        recognition.stop();
                        askForEmail()
                    };
                };
            }

            function askForEmail() {
                var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                var recognition = new SpeechRecognition();

                speech.text = 'please tell your, email address or username';
                window.speechSynthesis.speak(speech);
                speech.onend = function (event) {
                    recognition.start();

                    recognition.onstart = function () {
                        action.innerHTML = "<small>listening, please speak…</small>";
                    };

                    recognition.onresult = function (event) {
                        var transcript = event.results[0][0].transcript;
                        var confidence = event.results[0][0].confidence;
                        console.log(transcript + '1');
                        action.innerHTML = "<small>stopped listening, hope you are done…</small>"
                        document.getElementById('username').value = transcript;
                        recognition.stop();
                        askForPassword()
                    };
                };
            }

            function askForPassword() {
                var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                var recognition = new SpeechRecognition();

                speech.text = 'please tell your, password';
                window.speechSynthesis.speak(speech);
                speech.onend = function (event) {
                    recognition.start();

                    recognition.onstart = function () {
                        action.innerHTML = "<small>listening, please speak…</small>";
                    };

                    recognition.onresult = function (event) {
                        var transcript = event.results[0][0].transcript;
                        var confidence = event.results[0][0].confidence;
                        console.log(transcript + '1');
                        action.innerHTML = "<small>stopped listening, hope you are done…</small>"
                        document.getElementById('pass').value = transcript;
                        recognition.stop();
                        askForPhone()
                    };
                };
            }

            function askForPhone() {
                var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
                var recognition = new SpeechRecognition();

                speech.text = 'please tell your, phone number';
                window.speechSynthesis.speak(speech);
                speech.onend = function (event) {
                    recognition.start();

                    recognition.onstart = function () {
                        action.innerHTML = "<small>listening, please speak…</small>";
                    };

                    recognition.onresult = function (event) {
                        var transcript = event.results[0][0].transcript;
                        var confidence = event.results[0][0].confidence;
                        console.log(transcript + '1');
                        action.innerHTML = "<small>stopped listening, hope you are done…</small>"
                        document.getElementById('contact').value = transcript;
                        recognition.stop();
                        submitForm()
                    };
                };
            }

            function submitForm() {
                if (document.getElementById('name').value != "") {
                    if (document.getElementById('username').value != "") {
                        if (document.getElementById('pass').value != "") {
                            if (document.getElementById('contact').value != "") {
                                document.getElementById('registerForm').submit();
                            }
                        }
                    }
                }
            }
        }
    </script>